<div class="container">
  <h2>Edit post!</h2>
  <%= form_for :article, url: article_path(@article), method: :put do |f| %>
    <p>
      <div class="form-group">
        <%= f.label :title %> <br />
        <%= f.text_field :title, class: "form-control", placeholder: "title" %>
      </div>
    </p>
    <p>
      <div class="form-group">
        <%= f.text_area :description, class: "form-control", placeholder: "description" %>
      </div>
    </p>
    <p>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control", placeholder: "Edit post" %>
      </div>
    </p>
    <p>
      <button type="submit" class="btn btn-primary">Edit post!</button>
    </p>
  <% end %>
</div>