
<div class="btn-group" role="group" aria-label="Basic outlined example">
  <button type="button" onclick="window.location.href = '/posts';" value="<%= @selector = 0%>" class="btn btn-outline-primary">All posts</button>
  <button type="button" onclick="window.location.href = '/posts';" value="<%= @selector = 1%>" class="btn btn-outline-primary">Your posts</button>
</div>

<h1>Posts</h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to "Show this post", post %>
    </p>
  <% end %>
  
</div>
<div>

    <%== pagy_nav(@pagy)%>

</div>
